.TodosList-list{
    margin-top: 5vh;
    /* width: 50%; */
    /* margin-left: 30%; */
    /* text-align: center; */
    /* justify-content: center;
    justify-tracks: center;
    align-content: center; */
}

@media only screen and (min-width: 1200px){
 
}